
:root{
    --cor-principal: #8084F5;
    --cor-secundária: #C9F064;
    --cor-texto: #EBB500;
    --cor-de-fundo: #EB67BE;
    --font: "Nuito Sans" , sans-serif;
}
body{
    blackgroud-color: var(--car-principal);
    color: var(--cor-texto);
    font-family: var(--font);
}